.body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.container {
    display: flex;
    margin-bottom: 35px;

}
.main {
    display: flex;
    margin: 10px;

}
.products {
    display: block;
  
    
}

.quantity {
    padding: 20px;
    margin: 200px 0px 0px 20px;
    background-color: seashell;
    border-radius: 25px;
    height: 20px;
}
.h1 {
    color: #ea8465;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.delete {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-width: 0px;
    margin: 20px 0px 0px 20px;
    background-color: #ea8465;
    color: white;
}
.actions {
    display: block;
    text-align: center;
}
.total {
    background-color: seashell;
    width: 350px;
    height: 150px;
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    padding-left: 20px;
}
.done {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #ea8465;
    color: white;
}
