.main {
    background-color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0px 40px 40px;
    margin: 20px 0px 40px 20px;
    width: 50%;
}
.h1 {
    font-weight: 500;
font-size: 24px;
}
.h3 {
    color: #919197;
    font-weight: 400;
    font-size: 16px;
    border: 0px;
    background-color: seashell;
    text-decoration: none;
}
@media (max-width: 950px) {
    .main {
        padding: 10px;
        margin: 10px 10px 10px 75px;
    }
    .h1 {
        font-size: 14px;
    }
    .h3 {
        font-size: 10px;
    }
}