.header {
  background-color: #f2ebe7;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  height: 8rem;
  top: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header.down {
  top: -6rem;
}
.logo {
  width: 270px;
}
.nav {
  margin-left: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin: 15px;
}

a:hover {
  color: #eb8564;
}
a:active {
  color: #eb8564;
}
.cart {
  border-width: 0px;
  background-color: #eb8564;
}
.cart:hover,
.cart:active {
  color: black;
}

.cartElement {
  float: right !important;
  width: 150px;
  display: flex;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eb8564;
  border-radius: 10px;
  padding: 5px;
}

.span {
  font-weight: 500;
  margin: 5px;
}
.cartIcon {
  width: 27x;
  height: 27px;
  background: none;
}
.cart:hover .cartIcon {
  background: cadetblue;
  border-radius: 10px;
}
@media (max-width: 950px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    height: 30rem;
    background-color: #f2ebe7;
    width: 100%;
    padding: 30px;
    width: 100%;
  }
  a {
    margin: 10px;
    font-size: 1rem;
  }
  .logo {
    width: 200px;
    margin: 10px 20px 0px 0px;
  }
  .cartElement {
    justify-content: center;
    padding: 1px;
    margin: 5px;
    font-size: 15px;
  }
}
