.main {
  background-color: #f2ebe7;
  height: 500px;
  padding: 100px;
  font-size: 30px;
}
.btnShop {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 17px;
  background-color: #ea8465;
  color: white;
  border-radius: 30px;
  border-width: 0px;
  width: 170px;
  height: 50px;
}
.btnShop:hover,
.btnShop:active {
  color: black;
}
.categories {
  display: flex;
  position: relative;
  padding: 0px 10px 20px 10px;
}
.bestProducts {
  display: flex;
  padding: 20px;
  margin: 20px 20px 20px 40px;
  padding-bottom: 70px;
}
.popular {
  font-family: sans-serif;
  margin: auto;
  color: #ea8465;
  text-align: center;
  font-size: 30px;
  max-width: 600px;
  position: relative;
}

.popular:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}

.popular:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}
@media (max-width: 700px) {
  .main {
    text-align: left;
    padding: 170px 0px 0px 10px;
    height: 200px;
    background-color: seashell;
    width: 100%;
  }
  .h1 {
    font-size: 20px;
    padding: 40px 20px 0px 10px;
  }
  .h2 {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
  }
  .btnShop {
    font-size: 15px;
    height: 24px;
    width: 150px;
    margin: 10px;
  }
  .categories {
    display: block;
    text-align: center;
  }
  .popular {
    font-size: 30px;
    text-align: left;
    margin-left: 65px;
  }
  .popular:after {
    visibility: hidden;
  }
  .popular:before {
    visibility: hidden;

  }
  .bestProducts {
    display:block;
    padding: 5px;
    margin: 10px 0px 20px 40px;
    justify-content: center;
  }
  
}
