.header {
    background-color: #f2ebe7;
    align-items: center;
    justify-content: start;
    display: flex;
    width: 100%;
    height: 6rem;   
    top: 0;
   
}
.header.down {
  top: -6rem;
}
.logo {
    width: 270px;
}
.nav {
margin-left: 20px;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
  
a:hover,
a:active,
a.active {
    color: #eb8564;
  }