.header {
    background-color: #f2ebe7;
    align-items: center;
    justify-content: start;
    height: 100px;
    display: flex;
}
.logo {
    width: 270px;
}
.nav {
margin-left: 20px;
}

  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #eb8564;
  }