.card {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 600px;
    height: 600px;
    border-radius: 25px;
    border: 2px solid seashell;
    padding: 20px;
}
.img {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}
.title {
    font-size: 20px;
}
.description {
    color: grey;
    font-size: 14px;
    font-weight: 400;
}
.description {
    margin: auto;
    padding-right: 70px;
    text-align: left;
}
.h3 {
    margin: auto;
    display: block;
    width: 150px;
    height: 40px;
  
    font-weight:normal;
    border: 0;
    border-radius: 25px;
    font-size: 20px;
    justify-content: center;
}